<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title || 'Template'%></title>

  <% for (let css in htmlWebpackPlugin.options.files.css) { %>
    <link href="<%= htmlWebpackPlugin.options.files.css[css] %>" rel="stylesheet">
  <% } %>
</head>
<body>

  <div class="todolist">
    <div class="todolist__entry">
      <input type="text" name="task" id="txt-task">
      <button id="btn-add">Agregar</button>
    </div>
    <div class="todolist__list"></div>
  </div>

  <template id="tpl-todolist-item">
    <div class="todolist__item">
      <label for="chk-item-{{id}}">
        <input type="checkbox" name="item-{{id}}" id="chk-item-{{id}}">
        <span>{{task}}</span>
      </label>

      <button class="todolist__item__remove">X</button>
    </div>
  </template>


  <style>
    .lazyload {
      opacity: 0;
      transition: opacity 1s ease-out;
    }

    .lazyload.loaded {
      opacity: 1;
    }
  </style>

  <img
    class="lazyload"
    width="500"
    data-src="https://images.unsplash.com/photo-1529348915581-73628f0cf212?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8d262d07b765c845ff93801a07e15352&auto=format&fit=crop&w=1534&q=80"
  >
</div>


</body>
</html>
